@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@800&display=swap');

.frontpicture {
    width: 1030px;
    text-align: center;
    height: auto;
}

h1 {
    color: #f07320;
    text-align: left;
    margin: 95px 200px 30px 200px;
}

#about {
    text-align: left;
    margin: 0px 200px 80px 200px;
    font-size: 20px;
    color: #155e96;
}




