.topnav {
    overflow: hidden;
    margin: 70px 10% 80px 10%;
}

.topnav a {
    float: right;
    display: block;
    color: #155e96;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}

#logoheader {
    float: left;
    color: #f8876b;
}

.topnav a:hover {
    text-decoration-line: overline;
    text-decoration-color: #155e96;
}
 
@media (max-width: 600px) {
    .topnav {
        margin: 30px 5% 40px 5%;
    }
    .topnav a {
        padding: 3px 8px;
        font-size: 17px;
    }
}
  
