.topnav {
    overflow: hidden;
    margin: 70px 200px 80px 200px;
}

.topnav a {
    float: right;
    display: block;
    color: #155e96;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

#logoheader {
    float: left;
}
 
  
