@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Vollkorn', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcf5;
}

code {
  font-family: 'Vollkorn', serif;
}
